</main><!--end .main-->

<footer class="footer" role="contentinfo">
	<nav class="footer-nav" role="navigation">
	        <ul class="footer-nav__item"><a class="footer-nav__link" href="/">Home</a></li>
	        <ul class="footer-nav__item"><a class="footer-nav__link" href="/tutorials.html">Tutorials</a></li>
	        <ul class="footer-nav__item"><a class="footer-nav__link" href="https://github.com/sastutorials/sastutorials.github.io" rel="external" target="blank">On Github</a></li>
	</nav>

</footer><!--end footer-->

</body>
</html>

