  
<header class="header" role="banner">


	
    <nav class="nav" role="navigation">
		<button class="nav__btn" href="#nav-list">Menu</button>

        <ul class="nav__list" id="nav__list">
		    <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
		    <li class="nav__item"><a href="/tutorials.html" class="nav__link">Tutorials</a></li>
		    <li class="nav__item"><a href="#" class="nav__link">Get in touch</a></li>
		    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
		    <li class="nav__item"><a href="https://github.com/sastutorials/sastutorials.github.io" rel="external" target="blank" class="nav__link">On Github</a></li>
		</ul>
	</nav>

</header><!--end .header-->

<main role="main">