  
<header class="header">

	<div id="Home" class="tabcontent">
		<h1>Learn SAS</h1>
		<p>A free and open-source platform 
			to learn programming with <b>SAS</b>.
		</p>
	  </div>
	  
	  <div id="Tutorials" class="tabcontent">
		<h1>SAS tutorials</h1>
		<p>Start your learning journey here!</p>
	  </div>
	  
	  <div id="Contacts" class="tabcontent">
		<h1>Get in touch</h1>
		<p>Feel free to get in touch if you 
			have any queries or would like to 
			contribute!
		</p>
	  </div>
	  
	  <div id="About" class="tabcontent">
		<h1>About this project</h1>
		<p>Find out more about the origins 
			of this project.
		</p>
	  </div>
	  
	  <button class="tablink" onclick="openCity('Home', this, 'red')" id="defaultOpen"><a href="/" class="active">Home</a></button>
	  <button class="tablink" onclick="openCity('Tutorials', this, 'green')"><a href="/tutorials.html">Tutorials</a></button>
	  <button class="tablink" onclick="openCity('Contacts', this, 'blue')"><a href="#" class="right">Get in touch</a></button>
	  <button class="tablink" onclick="openCity('About', this, 'orange')"><a href="#" class="right">Get in touch</a></button>

 <div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/tutorials.html">Tutorials</a>
  <a href="#" class="right">About</a>
  <a href="#" class="right">Get in touch</a>
</div>

</header><!--end .header-->

<main role="main">