
<div class="navbar">
      <a href="/" class="active">Home</a>
      <div class="subnav">
            <button class="subnavbtn"> <a href="/tutorials.html">Tutorials</a><i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                  <a href="/tutorials/intro-to-sas">Intro</a>
                  <a href="#">Vis</a>
                  <a href="#">ML</a>
             </div>
      </div>
      <a href="#" class="right">About</a>
      <a href="#" class="right">Get in touch</a>
</div>  
    